@model Triad.CabinetOffice.Slipping.Web.ViewModels.OppositionMPs
@using Triad.CabinetOffice.Slipping.Web.Extensions

@{
    ViewBag.Title = "Are there any opposition MPs in attendance?";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        <a class="link-back" href="/">Back</a>
        <h1 class="heading-large">
            Are there any opposition MPs in attendance?
        </h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            <div class="form-group">
                <fieldset>
                    <div class="multiple-choice" data-target="yes-add-mps">
                        @Html.RadioButtonFor(model => model.YesNo, true, new { @id = "yes", @name = "radio-group-add-mps" })
                        <!--<input id="yes" type="radio" name="radio-group-add-mps" value="Yes">-->
                        <label for="yes">Yes</label>
                    </div>
                    <div class="panel panel-border-narrow js-hidden" id="yes-add-mps">
                        @for (var i = 1; i <= Model.MPs.Count; i++)
                        {
                            var mp = Model.MPs.ElementAt(i-1);
                            <div class="grid-row">
                                <div class="form-group-compound list-item-wrapper">
                                    <h2 class="heading-medium">MP @i</h2>
                                    <fieldset>
                                        <div class="column-one-third no-padding">
                                            <div class="form-group list-item">
                                                <label class="form-label" for="@string.Format("mp{0}-full-name", i)">Full name</label>
                                                <input class="form-control" name="mp1-full-name" type="text" id="@string.Format("mp{0}-full-name",mp.Key)" value="@mp.Value">
                                            </div>
                                        </div>
                                        <div class="column-one-third no-padding">
                                            <div class="list-item">
                                                <a class="remove-list-item" id="remove-item-1" href="#">Remove this</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="multiple-choice">
                        @Html.RadioButtonFor(model => model.YesNo, false, new { @id = "no", @name = "radio.group-add-mps" })
                        <!--<input id="no" type="radio" name="radio-group-add-mps" value="No">-->
                        <label for="no">No</label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <input class="button" type="submit" value="Continue">
            </div>
        }
    </div>
</div>
