@model Triad.CabinetOffice.Slipping.Web.ViewModels.ReasonAndDetails
@using Triad.CabinetOffice.Slipping.Web.Extensions

@{
    ViewBag.Title = "What is the reason for your request?";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        @Html.ActionLink("Back", "Index", null, new { @class = "link-back" })
        <h1 class="heading-large">
            What is the reason for your request?
        </h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group @Html.ValidationErrorClassFor(model => model.Reason, "form-group-error")">
               <fieldset>
                   <span class="error-message">@Html.ValidationMessageFor(model => model.Reason)</span>
                    @foreach (var reason in Model.Reasons)
                    {                
                        <div class="multiple-choice">
                            @Html.RadioButtonFor(model => model.Reason, reason.Value)
                            @Html.LabelFor(model => model.Reason,reason.Text)
                        </div>
                    }
                </fieldset>
            </div>
            <div class="form-group">
                <button class="button" type="submit">Continue</button>
            </div>
        }
    </div>
</div>

