@model Triad.CabinetOffice.Slipping.Web.ViewModels.ReasonAndDetails
@using Triad.CabinetOffice.Slipping.Web.Extensions

@{
    ViewBag.Title = (ViewData.ModelState.IsValid ? "" : "Error: ") + "What is the reason for your request?";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        @Html.BackLink("Location", new { id = Model.ID }, "link-back")

        @Html.Partial("_ValidationSummary")

        <h1 class="heading-large">
            What is the reason for your request?
        </h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group @Html.ValidationErrorClassFor(model => model.Reason, "form-group-error")">
               <fieldset>
                   <span class="error-message">@Html.ValidationMessageFor(model => model.Reason)</span>
                    @foreach (var reason in Model.Reasons)
                    {                
                        <div class="multiple-choice" data-target="Reason-@reason.ID">
                            @Html.RadioButtonFor(model => model.Reason, reason.ID, new {@name="radio-group",@id="radio-" + @reason.ID, aria_controls= "Reason-"+ @reason.ID })
                            <label for="radio-@reason.ID">@reason.Reason</label>
                        </div>
                        <div class="panel panel-border-narrow  js-hidden" id="Reason-@reason.ID" aria-hidden="true">
                            @switch (reason.ID)
                            {
                                case 1:
                                    <label class="form-label" for="Reason-@reason.ID">Please provide a description for your reason</label>
                                    <span class="form-hint">for example: Select Committee Trip, Delegation on behalf of a group, an All Party Parliamentary related trip</span>
                                    <span class="form-label">What will be the repercussions of the slip being revoked at the last minute? <br/>Please state if the trip has been approved by Number 10</span>
                                    @Html.TextAreaFor(model => model.Details1, new { @rows = 5, @class = "form-control form-control-3-4", @style = "width: 100%;" })
                                    <span class="error-message">@Html.ValidationMessageFor(model => model.Details1)</span>
                                    break;
                                case 2:
                                    <label class="form-label" for="Reason-@reason.ID">What type of constituency engagement is it?</label>
                                    <span class="form-hint">for example: fundraising, charity event or surgery appointments with constituents</span>
                                    <span class="form-label">Please also provide the estimated size of the event</span>
                                    @Html.TextAreaFor(model => model.Details2, new { @rows = 5, @class = "form-control form-control-3-4", @style = "width: 100%;" })
                                    <span class="error-message">@Html.ValidationMessageFor(model => model.Details2)</span>
                                    break;
                                case 3:
                                    <label class="form-label" for="Reason-@reason.ID">Please provide a description for your reason</label>
                                    <span class="form-hint">for example: Select Committee Trip, Delegation on behalf of a group, an All Party Parliamentary related trip</span>
                                    <span class="form-label">What will be the repercussions of the slip being revoked at the last minute? <br/>Can the event be held on the Parliamentary Estate if necessary</span>
                                    @Html.TextAreaFor(model => model.Details3, new { @rows = 5, @class = "form-control form-control-3-4", @style = "width: 100%;" })
                                    <span class="error-message">@Html.ValidationMessageFor(model => model.Details3)</span>
                                    break;
                                case 5:
                                    <label class="form-label" for="Reason-@reason.ID">What is the personal/other reason?</label>
                                    <span class="form-hint">For example dentist, funeral or wedding. If you do not wish to mention the reason to us, please just write 'Personal' and let your Whip know</span>
                                    @Html.TextAreaFor(model => model.Details4, new { @rows = 5, @class = "form-control form-control-3-4", @style = "width: 100%;" })
                                    <span class="error-message">@Html.ValidationMessageFor(model => model.Details4)</span>
                                    break;
                            }
                        </div>
                    }
                </fieldset>
            </div>
            <div class="form-group">
                <button class="button" type="submit">Continue</button>
            </div>
        }
    </div>
</div>

